#content-wrapper {
    img {
        margin-left: 120px;
    }
    table img {
        margin-left: unset;
    }
    .image-large {
        margin-left: unset;
        width: 90%;
    }

.image-medium {
    margin-left: unset;
    width: 80%;
}

.image-small {
    margin-left: unset;
    width: 70%;
}
.image-smaller {
    margin-left: unset;
    width: 60%;
}
}