#content-wrapper {   
    .image-center {
        display: block !important;
        margin-left: auto;
        margin-right: auto;
    }

    .image-extra-small {
        width: 30%;
        height: auto;
    }

    .image-small {
        width: 50%;
        height: auto;
    }

    .image-medium { 
        width: 75%; 
        height: auto; 
        }

    .image-large { 
        width: 90%; 
        height: auto; 
    }
    
}